phpmyadmin      phpmyadmin/app-password-confirm 		password {{ mysql_root_password|default('password') }}
phpmyadmin      phpmyadmin/mysql/admin-pass     		password {{ mysql_root_password|default('password') }}
phpmyadmin      phpmyadmin/password-confirm     		password {{ mysql_root_password|default('password') }}
phpmyadmin      phpmyadmin/setup-password       		password {{ mysql_root_password|default('password') }}
phpmyadmin      phpmyadmin/mysql/app-pass       		password {{ mysql_root_password|default('password') }}
phpmyadmin      phpmyadmin/remove-error 				select  abort
phpmyadmin      phpmyadmin/internal/reconfiguring       boolean false
phpmyadmin      phpmyadmin/missing-db-package-error     select  abort
phpmyadmin      phpmyadmin/setup-username       		string  root
phpmyadmin      phpmyadmin/db/app-user  				string  root
phpmyadmin      phpmyadmin/install-error        		select  abort
phpmyadmin      phpmyadmin/reconfigure-webserver        multiselect apache2
phpmyadmin      phpmyadmin/remote/newhost       		string 0.0.0.0
phpmyadmin      phpmyadmin/remote/host  				select  0.0.0.0
phpmyadmin      phpmyadmin/upgrade-error        		select  abort

phpmyadmin      phpmyadmin/dbconfig-reinstall   		boolean false
phpmyadmin      phpmyadmin/dbconfig-install     		boolean true
phpmyadmin      phpmyadmin/database-type        		select  mysql
phpmyadmin      phpmyadmin/internal/skip-preseed        boolean true
phpmyadmin      phpmyadmin/remote/port  				string  3306
phpmyadmin      phpmyadmin/mysql/method 				select  tcp/ip
phpmyadmin      phpmyadmin/mysql/admin-user     		string  root