postfix postfix/master_upgrade_warning  	boolean true
postfix postfix/db_upgrade_warning  		boolean true
postfix postfix/mailname    				string  /etc/mailname
postfix postfix/tlsmgr_upgrade_warning  	boolean true
postfix postfix/recipient_delim 			string  +
postfix postfix/dynamicmaps_upgrade_warning boolean true
postfix postfix/main_mailer_type    		select  
postfix postfix/transport_map_warning   	note    
postfix postfix/relayhost   				string  {{ postfix_mail_relay }}
postfix postfix/procmail    				boolean false
postfix postfix/bad_recipient_delimiter 	note   	
postfix postfix/chattr  					boolean false
postfix postfix/root_address    			string  
postfix postfix/rfc1035_violation   		boolean false
postfix postfix/mydomain_warning    		boolean 
postfix postfix/mynetworks  				string  127.0.0.0/8
postfix postfix/destinations    			string  
postfix postfix/nqmgr_upgrade_warning   	boolean 
postfix postfix/not_configured  			note    
postfix postfix/mailbox_limit   			string  0
postfix postfix/protocols   				select  all