#
# Copyright 2014 Simtech Ltd. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# {{ ansible_managed }}

<VirtualHost *:{{ apache_port_http }}>
	ServerName {{ ansible_fqdn }}
    ServerAdmin {{ apache_admin|default('root@localhost')}}
    
	DocumentRoot {{ apache_root }}

	<Directory />
		Options +FollowSymLinks
		AllowOverride All
	</Directory>

	<Directory {{ apache_root }}/>
		Options +Indexes +FollowSymLinks +MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values: debug, info, notice, warn, error, crit, alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost _default_:{{ apache_port_https }}>
	ServerName {{ ansible_fqdn }}
	ServerAdmin {{ apache_admin|default('root@localhost')}}

	DocumentRoot {{ apache_root }}

	<Directory />
		Options +FollowSymLinks
		AllowOverride All
	</Directory>

	<Directory {{ apache_root }}/>
		Options +Indexes +FollowSymLinks +MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values: debug, info, notice, warn, error, crit, alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined

	SSLEngine on

	SSLCertificateFile    /etc/ssl/certs/ssl-cert-snakeoil.pem
	SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

	<FilesMatch "\.(cgi|shtml|phtml|php)$">
		SSLOptions +StdEnvVars
	</FilesMatch>
	<Directory /usr/lib/cgi-bin>
		SSLOptions +StdEnvVars
	</Directory>

	BrowserMatch "MSIE [2-6]" \
		nokeepalive ssl-unclean-shutdown \
		downgrade-1.0 force-response-1.0
	# MSIE 7 and newer should be able to use keepalive
	BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

</VirtualHost>
</IfModule>