# {{ ansible_managed }}

[client]
port					= {{ mysql_port|default('3306') }}
socket					= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket					= /var/run/mysqld/mysqld.sock
nice					= 0

[mysqld]
user					= mysql
pid-file				= /var/run/mysqld/mysqld.pid
socket					= /var/run/mysqld/mysqld.sock
port					= {{ mysql_port|default('3306') }}
basedir					= /usr
datadir					= /var/lib/mysql
tmpdir					= /tmp
lc-messages-dir			= /usr/share/mysql

skip-external-locking
bind-address			= {{ mysql_bind_address|default('127.0.0.1') }}

key_buffer				= 16M
max_allowed_packet		= {{ mysql_max_allowed_packet|default('128M') }}
thread_stack			= 192K
thread_cache_size       = 8
myisam-recover         	= BACKUP
query_cache_limit		= 1M
query_cache_size        = 16M

general_log_file        = /var/log/mysql/mysql.log
general_log             = 1
log_slow_queries		= /var/log/mysql/mysql-slow.log
long_query_time 		= 2
log-queries-not-using-indexes

#server-id				= 1
#log_bin				= /var/log/mysql/mysql-bin.log
#expire_logs_days		= 10
#max_binlog_size        = 100M
#binlog_do_db			= include_database_name
#binlog_ignore_db		= include_database_name

[mysqldump]
quick
quote-names
max_allowed_packet		= 128M

[mysql]
#no-auto-rehash

[isamchk]
key_buffer				= 16M

!includedir /etc/mysql/conf.d/
